#radioSorting{
    text-align: center;
    line-height: 30px;
    font-size: x-large;
    padding-top: 30px;
    
}
#titleS,#hornsS{
    margin-right: 10px;
}

#hornsS{
    margin-left: 100px;
}
#buttons{
    
    text-align: center;
    margin-top: 30px;

}
.button{
    border: none;
    border-radius: 10px;
    font-size:25px;
    padding: 5px 20px; 
}
#button2{
    margin-left: 700px;
}


 select{
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 510px;
    padding: 10px 20px;     
}
#option{
    text-align: center;
    border: none;   
}


#box{
 display: inline-block;
 margin-top: 30px;
 margin-left: 50px;
 width: 90px;
 margin-right: 40px;
 
} 
#titleDes{
    padding: 15px;
    width: 130px;
    margin-top: 5px;
     border-radius: 5px;
     font-weight: bold;
     font-size: 15px;
 

}
#numberHoens{
    margin-left: 60px;
    border: 1px solid rgba(223, 205, 221, 0.897);
    border-radius: 50%;
    padding: 2px;
    width:30px;
    height: 20px;
    text-align: center; 
    line-height: 20px;

}